@model Practica6.MVC.Models.CustomersView
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Create", "Customers", FormMethod.Post))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger font-weight-bold" })
    <div class="form-group">
        <label>ID (no se podrá modificar)</label>
        @Html.TextBoxFor(customer => customer.Id, new { @class = "form-control" })
        <small class="form-text text-muted">
            @Html.ValidationMessageFor(customer => customer.Id, "", new { @class = "text-danger" })
        </small>
    </div>
    <div class="form-group">
        <label>Compañia</label>
        @Html.TextBoxFor(customer => customer.CompanyName, new { @class = "form-control" })
        <small class="form-text text-muted">
            @Html.ValidationMessageFor(customer => customer.CompanyName, "", new { @class = "text-danger" })
        </small>
    </div>
    <div class="form-group">
        <label>Contacto</label>
        @Html.TextBoxFor(customer => customer.ContactName, new { @class = "form-control" })
        <small class="form-text text-muted">
            @Html.ValidationMessageFor(customer => customer.ContactName, "", new { @class = "text-danger" })
        </small>
    </div>
    <div class="form-group">
        <label>Ciudad</label>
        @Html.TextBoxFor(customer => customer.City, new { @class = "form-control" })
        <small class="form-text text-muted">
            @Html.ValidationMessageFor(customer => customer.City, "", new { @class = "text-danger" })
        </small>
    </div>
    <div class="form-group">
        <label>Telefono</label>
        @Html.TextBoxFor(customer => customer.Phone, new { @class = "form-control" })
        <small class="form-text text-muted">
            @Html.ValidationMessageFor(customer => customer.Phone, "", new { @class = "text-danger" })
        </small>
    </div>
    <button type="submit"
            class="btn btn-primary mt-1"
            onclick="return confirm('¿Estas seguro que quieres agregar este cliente?')">
        Añadir Cliente
    </button>
}
