@model List<Practica6.MVC.Models.CustomersView>
@{
    ViewBag.Title = "Index";
}

<h2>Lista de clientes</h2>
@Html.ActionLink("Agregar cliente", "Create", "Customers", new { }, new { @class = "btn btn-primary m-2" })
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre de Compañia</th>
            <th scope="col">Contacto</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Telefono</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.Id</td>
                <td>@customer.CompanyName</td>
                <td>@customer.ContactName</td>
                <td>@customer.City</td>
                <td>@customer.Phone</td>
                <tc>
                    <td>@Html.ActionLink("Modificar", "Update", "Customers", customer, new { @class = "btn btn-warning" })</td>
                    <td>
                        @Html.ActionLink("Borrar",
                            "Delete",
                            "Customers",
                            customer,
                            new { @class = "btn btn-danger", @onclick = "return confirm('¿Estas seguro que quieres eliminar este cliente?')" })
                    </td>
                </tc>
            </tr>
        }
    </tbody>
</table>