@model Practica6.MVC.Models.CustomersView
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("UpdateOne", "Customers", FormMethod.Post))
{
    <div class="form-group">
        <label>ID (no modificable)</label>
        @Html.TextBoxFor(customer => customer.Id, new { @class = "form-control", @value = Model.Id, @readonly = "readonly", @Style = "background: #C0C0C0" })
    </div>
    <div class="form-group">
        <label>Compañia</label>
        @Html.TextBoxFor(customer => customer.CompanyName, new { @class = "form-control", @value = Model.CompanyName })
        <small class="form-text text-muted">
            @Html.ValidationMessageFor(customer => customer.CompanyName, "", new { @class = "text-danger" })
        </small>
    </div>
    <div class="form-group">
        <label>Contacto</label>
        @Html.TextBoxFor(customer => customer.ContactName, new { @class = "form-control", @value = Model.ContactName })
        <small class="form-text text-muted">
            @Html.ValidationMessageFor(customer => customer.ContactName, "", new { @class = "text-danger" })
        </small>
    </div>
    <div class="form-group">
        <label>Ciudad</label>
        @Html.TextBoxFor(customer => customer.City, new { @class = "form-control", @value = Model.City })
        <small class="form-text text-muted">
            @Html.ValidationMessageFor(customer => customer.City, "", new { @class = "text-danger" })
        </small>
    </div>
    <div class="form-group">
        <label>Telefono</label>
        @Html.TextBoxFor(customer => customer.Phone, new { @class = "form-control", @value = Model.Phone })
        <small class="form-text text-muted">
            @Html.ValidationMessageFor(customer => customer.Phone, "", new { @class = "text-danger" })
        </small>
    </div>
    <button type="submit"
            class="btn btn-primary mt-1"
            onclick="return confirm('¿Estas seguro que quieres modificar este cliente?')">
        Modificar Cliente
    </button>
}
